extends layout

block content

	div(style='text-align: right')
		a.btn.btn-light(href='/blog/create') Write a new blog
	br
	table.table
		for val in blogs
			tr
				td #{val.title}
				td #{val.desc }
				td
					button.btn.btn-danger.btn-sm(onclick='removeBlog("'+ val._id +'")') Delete

block scripts
	script(src='js/views/blog.js')
			