extends layout

block content

	div.text-right
		a.btn.btn-light(href='/blog/create') Write a new blog
		| 
		a.btn.btn-light(href='/blog?p=1') Preview
	br
	table.table
		for val in blogs
			tr
				td #{val.title}
				td #{val.desc }
				td
					button.btn.btn-danger.btn-sm(onclick='removeBlog("'+ val._id +'")') Delete

block scripts
	script.
		function removeBlog(id){
			var td = event.target.parentNode;
			td.style.display = 'none';
			$.ajax
		    ({
		        type: "DELETE",
		        //the url where you want to sent the userName and password to
				url: '/api/blog/' + id,
				contentType: 'application/json',
		        dataType: 'json',    
		        success: function (res) {			
					   var tr = td.parentNode;
					   tr.parentNode.removeChild(tr);
				},
				error: function(res){
					td.style.display = '';
					console.log(res);
				}
				
		    })
		}
			