extends shared/layout

block content
	if(!authenticated)
		.jumbotron !{homeContent}
	else
		.jumbotron
			form(action='/'  method='POST', enctype="multipart/form-data" onsubmit='post()')
				textarea.form-control(name='content' placeholder='Enter the text to be shown in the home page. Html is allowed.') #{homeContent}
				br
				button.btn.btn-primary(id='btn' type='submit') Post
        
block scripts
	script.
		function post() {
			var btn = document.getElementById('btn');
			btn.disabled = true;
			btn.innerText = 'Posting...';
		}