extends shared/layout

block content
   
    h1 Ali Sharabiani
    p Hi there! My name is Ali and I'm a software developer.
    p 
        | Currently trying to learn how to make a website with 
        strong MongoDB
        |, 
        strong NodeJS
        |. I am also having fun with 
        strong Pug
        |.
