extends ../shared/layout
block styles
	style.
		.card-columns {
			-webkit-column-count: 5;
			-moz-column-count: 5;
			column-count: 5;
		}
block content

	if(preview)
		.text-right
			a.btn.btn-light(href='/skill') Exit preview
		br
	each c in cats
		if c.items && c.items.length > 0
			strong.text-capitalize #{c.name}
			p #{c.desc}
		
			
			.card-columns
				each val in c.items
					.card.border-light
						.card-body
							small #{val.name}
							.progress(style='height:5px;')
								.progress-bar.bg-info(role='progressbar', style='width: '+ val.rate*20+ '%', aria-valuenow=val.rate, aria-valuemin='0', aria-valuemax='5')
		br
		//- END for loop

