extends ../shared/layout

block content
	.card
		.card-body
			input.form-control(id='title', placeholder='Blog Title')
			br
			textarea.form-control(id='desc', rows='10', placeholder='Write your blog here, html permitted.')
			br
			div(style='text-align:right')
				a.btn.btn-light(href='/blog') Cancel
				| 
				a.btn.btn-dark(href='#') Preview
				| 
				button.btn.btn-primary(onclick='postblog()') Post
					
block scripts
	script.
		function postblog()
		{
			event.target.disabled = 'disabled';
			event.target.innerText = 'Posting...';
			var data = {'title' : $('#title').val(), 'desc' : $('#desc').val() }; 
			$.ajax
		    ({
		        type: "POST",
		        //the url where you want to sent the userName and password to
				url: '/api/blog/',
				contentType: 'application/json',
		        dataType: 'json',
		        data: JSON.stringify(data),
		        success: function () {
		       		document.location.href = '/blog';
		        }
		    })
		}